
<div class="row">

  <div class="col-md-6">

    <%= form_for @place do |f| %>
      <div class="form-group">
        <%= f.label :Name %>
        <%= f.text_field :name , class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Phone Number' %>
        <%= f.text_field :phone_number , class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :City %>
        <%= f.text_field :city , class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'Contact Mail' %>
        <%= f.text_field :contact_mail , class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :Description %>
        <%= f.text_field :description , class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :Category , class:'form-control' %>
         <%= f.select :category_id, @categories, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit 'Send', class: 'btn btn-success' %>
      </div>
        
    <% end %>


  </div>
  <div class="col-md-6">
    <% unless @place.errors.empty? %>
        <% @place.errors.full_messages.each do |message| %>
            <p class="alert alert-danger">
              <%= message %>
            </p>
        <% end %>
    <% end %>
  </div>
</div>
