
<div class="row" >
  <div class="col-md-6 ">
    <h1> <%= @place.name %> </h1>
    <p class="lead"><%= @place.description %> </p>
  
      
    <div  style="border-top: 2px solid blue; padding: 15px"> </div>
      <%= form_for [@place, Comment.new] do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label "Comment" %>
                <%= f.text_area :body , row: 5 , class: 'form-control'  %>
              </div>
              <div class="form-group">
                <%= f.submit 'Send', class: 'btn btn-success' %>
              </div>

            </div>
          </div>

      <% end %>
    </div>

  <div class="col-md-6">
      <div class="pull-right">
          <%= form_for [@place,Reservation.new] do |f| %>
            <div class="form-group">
              <%= f.datetime_select :date , class: 'form-control'%>
            </div>
            <div class="form-group">
              <%= f.number_field :number_of_people, min:1, class:'form-control input-sm' %>
            </div>
            <div class="form-group">
              <%= f.submit 'Make Reservation', class: 'btn btn-success' %>
            </div>

            <% end %>
            <%= link_to 'Show Reservations', place_reservations_path(@place), class: 'btn btn-info' %>
        </div>
  </div>
</div>

<%= render partial: 'comments/comments_list', locals: {comments: @place.comments } %>
